<!DOCTYPE html>
<!-- 必须指定thymeleaf命名空间-->
<html xmlns="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8"/>
    <title>主页</title>

    <!-- 引入布局-->
    <link rel="stylesheet" href="../static/css/layout-default-latest.css"/>
</head>
<body>

<!-- 东南西北中布局-->

<iframe name="content" class="ui-layout-center"  frameborder="0" scrolling="auto"/>
<div class="ui-layout-north">

    <tr th:each="permission:${northPermissions}">
        <a th:href="${permission.url}">
            <span th:text="${permission.name}"/>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </tr>

</div>

<div class="ui-layout-west">

    <tr th:each="permission:${westPermissions}">
        <a th:href="${permission.url}" target="content">
            <span th:text="${permission.name}"/>
        </a>
        <br/>

    </tr>

</div>

</body>

<!-- 布局的css-->
<script src="../static/JQuery_layout/jquery-1.11.0.min.js"></script>
<script src="../static/JQuery_layout/jquery.layout-latest.min.js"></script>
<script>
    $(function () {
        $(document).ready(function () {
            $('body').layout({ applyDemoStyles: true });// 采用默认样式
        });
    });
</script>
</html>